* {
    box-sizing: border-box;
  
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main {
    padding: 10px 20px;
    text-align: center;
}