* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 992px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 20px;
}

main,
section {
  padding: 20px 0;
}

@media only screen and (min-width: 375px) {
  main,
  section {
    padding: 20px;
  }
}

aside {
  background-color: white;
}

main,
section {
  background-color: beige;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

@media only screen and (min-width: 600px) {
  nav {
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav .contactUsBtn {
  color: brown;
  font-size: 10px;
  padding: 5px 10px;
  border: 1px solid brown;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
}

nav .desk-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  nav .desk-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  z-index: 99;
  text-align: center;
}

nav .show li {
  padding: 10px 20px;
}

nav .hamburger-btn {
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: white;
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 600px) {
  nav .hamburger-btn {
    display: none;
  }
}

main {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main[role=startpage] {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  main[role=startpage] {
    display: block;
  }
}

section[role=startpage] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  section[role=startpage] {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

aside[role=startpage] {
  margin-bottom: 10px;
  text-align: center;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media only screen and (min-width: 600px) {
  aside[role=startpage] {
    padding: 20px;
  }
}

aside[role=startpage] div {
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

aside[role=startpage] div p {
  margin: 3px;
}

@media only screen and (min-width: 600px) {
  aside[role=startpage] {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 10px;
  }
  aside[role=startpage] img {
    width: 100%;
  }
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

aside[role=about] {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

aside[role=about] img {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */