.playerComp {
    display: grid;
    grid-template-rows: 1fr auto auto;
    justify-content: center;
    width: 100%;
}

.accordian-holder {
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
  }

  .accordian-holder input {
    display: none;
  }

  .accordian-holder label {
    display: block;
    position: relative;
    padding: 10px;
    cursor: pointer;
    background: #C6BC82;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid #C6BC82;
  }

  .performanceAcc {
      color: white;
    position: absolute;  
    background-color: #C6BC82 !important;
      border: 5px solid #C6BC82 !important;
  }

  .backgroundColor {
      background: #C6BC82!important;
  }

  .inside-container {
    display: block;
    height: 0px;
    background: #C6BC82;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .accordian-holder input:checked~.inside-container {
    height: 280px;
  }

  .accordian-holder label::after {
    content: "...";
    width: 10px;
    position: absolute;
    right: 15px;
    top: -5px;
    font-size: 25px;
    font-weight: bold;
}

 